.container-fluid {
    padding: 0;
}

.navbar {
    background-color: black;
}

.black_article {
    background-color: black;
    color: white;

}


.nav_bottom {
    background-color: lightblue;
}

h4 {
    font-size: 0.7em;

}

h3, h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 0.5em 0 0 0.5em;
}

h3 {
    font-size: 0.8em;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
}

p a {
    color: #8a940d;
    text-decoration: underline;
}

address {
    margin-left: 0.5em;
}

.white_article p {
    margin-left: 0.5em;
}

.aside_main h3 {
    margin-bottom: 2em;
}

.aside_main {
    border: 3px solid black;
    margin: 17% 3%;
    border-right: none;
    border-left: none;
}
